<%if defined?(address)&&!address.nil?
    @address=address
  end%>
<p>
  <%= @address.street %>
  , &nbsp
  <%= @address.number %>
</p>

<p>
  <%= @address.postal_code %>
  &nbsp
  <%= @address.city %>
</p>

<p>
  <%=@address.country %>
</p>

<p>
  <%=@address.latitude %>
  ; &nbsp
  <%=@address.longitude %>
</p>
