
<%if defined?(address)&&!address.nil?
    @address=address
  end%>
<span>  <div class='well'>
<p>
  <%= @address.street %>
  , &nbsp
  <%= @address.number %>
</p>

<p>
  <%= @address.postal_code %>
  &nbsp
  <%= @address.city %>
</p>

<p>
  <%=@address.country %>
</p>


</div>
</span>