
<%if defined?(address)&&!address.nil?
    @address=address
  end%>
<span>  <div class='well'>
<p>
  Street : <%= @address.street %>
  , &nbsp
  N° <%= @address.number %>
</p>

<p>
  Zipcode : <%= @address.postal_code %>
  &nbsp
  City : <%= @address.city %>
</p>

<p>
  Country : <%=@address.country %>
</p>


</div>
</span>