<% if type=="new" || type == "wrong zip new"
    @action="create"
   else type == "edit"
    @action="update"
end%>
<%=bootstrap_form_for(@address ,:url => {:action => @action, :id => @address.id}) do |f| %>  
    
    <% if type == "wrong zip new" || type == "wrong zip edit" %>
        <font size="4" color="red">The address you gave seems to be incorrect</font>
    <% end %>
    
    <%= f.text_field :street, :class => "form-control" %>
    <%= f.text_field :number, :class => "form-control" %>
    <%= f.text_field :postal_code, :class => "form-control" %>
    <%= f.text_field :city, :class => "form-control" %>
    <select id="address_country" name="address[country]">
    <% Country.all.each do |country|%>
    <option value="<%= country.first%>" <% if @address.country == country.first%>selected <% end %>  ><%=country.first%></option>
    <% end %>
    </select>
    
    <% if type=="new" || type == "wrong zip new"%>
      <%= f.submit "Add address",:class =>"btn btn-primary"  %>
    <% else %>
      <%= f.submit "Edit address",:class =>"btn btn-primary"  %>
    <%end%>
<% end %>
