<h1>My addresses</h1>

<table class="table table-striped">

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><% if address.principal %> <i class="icon-home"></i><%  end %> </td>
        <td> <%= render 'address', :address=>address %> </td>
        <td>
            <% if !current_user.nil?&&address.user_id==current_user.id %><%= link_to 'Edit', edit_address_path(address) %><%end%>
            <% if !current_user.nil?&&address.user_id==current_user.id %><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %><%end%>
            <% if !address.principal %><%= link_to 'Put this as my main address', main_address_path(address) %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if !current_user.nil?%>
    <%= link_to 'New address', new_address_path %>
<%end%>
