<div class="service-box col-md-12">
  <div class="well well-large service">

                <a class="pull-left" href="#">
                  <% cache(service) do %>
                    <%= image_tag service.photo.url(:thumb) %>
                  <% end %>
                </a>
                <h3 class=""><%= service.title %></h3>
                <div class="service-action">
                  <% if !current_user.nil? && service.matching_service.nil? && service.creator_id != current_user.id && current_user.accept_services.where(:id => service.id).empty? %><%= button_to 'Accept', accept_service_path(service), :class=>"btn btn-success", :method => :get %><%end%>
                  <%= button_to 'Show', service, :class=>"btn btn-default", :method => :get  %>
                  <% if !current_user.nil?&&service.creator_id==current_user.id %><%= button_to 'Edit', edit_service_path(service), :class=>"btn btn-default", :method => :get %><%end%>
                  <% if !current_user.nil?&&service.creator_id==current_user.id %><%= button_to 'Destroy', service, method: :delete, :class=>"btn btn-danger"%><%end%>
                  <% if user_signed_in? %>
                    <% @followers = Follower.where(:service_id => service.id).where(:user_id => current_user.id) %>
                    <% @service = service %>
                    <%= render 'services/follow', :service=>@service, :followers => @followers %>
                  <%end%>
                </div>
                
                <p class="service-desc"> <strong>Description : </strong><%= service.description %></p>
                <p class="date-service"><%= service.date_start.to_date().to_formatted_s(:rfc822) %> <strong>to</strong> <%= service.date_end.to_date().to_formatted_s(:rfc822) %>
                <%if !service.address.nil?%> 
                  <p class="service-desc"><%= service.address.street %>, <%= service.address.number %> <br/>
                  <%= service.address.postal_code %> <%= service.address.city %> <br/>
                  <%= service.address.country %></p>
                <% end %>
                </p>
    			<%= render 'services/share', :service => service %>

                  <% sec = (service.date_end - DateTime.now) %>

                  <span class="pull-right timeleft"><%= (sec / 86400).round %> days <%= ((sec % 86400) / 3600).round %> hours <%= ((((sec % 86400) / 3600) % 3600) / 60).round %> min <%= (sec%60).round %> s. left</span>

              </div>
</div>
