<% location= request.env['PATH_INFO'] %>
<div id="matching">
<div class="full-width-header" id="sticker"> 
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <h3 >Search Result</h3> 
    </div>
    <div class="col-md-4 sticky-search">
      <%= form_tag(search_path, method: "get", :class=>"form-search", :role=>"search", :id => "async-search") do %>
        <%= text_field_tag(:q, "",:class=>"search-query search form-control", :placeholder=>"Search", :id=>"s") %>
       <%= submit_tag("Search", :class=>"btn btn-primary") %>
      <% end %>
    </div>
    <div class="col-md-2 ">
      <% if !current_user.nil? and !@search.nil? %>
        <%= link_to 'Save this search', '/save'+@search, :class=>"btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-1 ">
      <% if !current_user.nil?%>
        <%= link_to 'New Service', new_service_path, :class=>"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
    <div id="results">
        <% if @type=="service"%>
          <%= render 'match_services' %>
        <% elsif @type=="orga" %>
          <%= render 'match_organisations' %>
        <% elsif @type=="group" %>
          <%= render 'match_groups' %>
        <% end %>
</div>
</div>
