<% location= request.env['PATH_INFO'] %>
<h3>Search Result</h3>

<div class="row">
      <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sort</li>
              <% @param="&q_order_end=on"
                 @link=generateLink(@search,@param)
                 @active=!@link.include?(@param)
               %>
              <li <% if @active%> class="active"<% end%>><a href="<%= @link %>">Time : ending soonest</a></li>
              <li class="nav-header">Filter</li>
              <% @param="&filter=active"
                 @link=generateLink(@search,@param)
                 @active=!@link.include?(@param)
               %>
              <li <% if @active%> class="active"<% end%>><a href="<%= @link %>">Show only active service</a></li>
              <% @param="&filter=karma"
                 @link=generateLink(@search,@param)
                 @active=!@link.include?(@param)
               %>
              <li <% if @active%> class="active"<% end%>><a href="<%= @link %>">Show only service proposed by good karma</a></li>
              <li class="nav-header">Categories</li>
              <% if (!@categories.nil?&&@categories.size>0) %>
                <% @categories.each do |category|
                   if category.first>-1
                    @category=Category.find(category.first)
                     @param="&category="+@category.id.to_s
                     @link=generateLink(@search,@param)
                      @active=!@link.include?(@param)
                      %>
                    <li <% if @active%> class="active"<% end%>><a href="<%= @link %>"><%=@category.title%> <span class="badge"><%=category.second.size%></span></a></li>
                <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
      </div>
      <div class="span9">

        <% if @services.size ==0 %>
          No results
        <% else %>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Date start</th>
              <th>Date end</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @services.each do |service| %>
              <tr>
                <td><%= service.title %></td>
                <td><%= service.description %></td>
                <td><%= service.date_start.to_date().to_formatted_s(:rfc822) %></td>
                <td><%= service.date_end.to_date().to_formatted_s(:rfc822) %></td>
                <td><%= link_to 'Show', service %></td>
                <td><% if user_signed_in?%>
                	<% @followers = Follower.where("service_id = :service_id AND user_id = :user_id", :service_id => service.id, :user_id => current_user.id)%>
                	<% @service = service %>
                	<%= render 'services/follow', :service=>@service, :followers=>@followers %>
                <%end%></td>
                <td><% if !current_user.nil?&&service.matching_service.nil? && service.creator_id!=current_user.id%><%= link_to 'Accept', accept_service_path(service) %><%end%></td>
                <td><% if !current_user.nil?&&service.creator_id==current_user.id %><%= link_to 'Edit', edit_service_path(service) %><%end%></td>
                <td><% if !current_user.nil?&&service.creator_id==current_user.id %><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
        <br>
      </div>
    </div>

<% if !current_user.nil?%>
<%= link_to 'New Service', new_service_path %>
<% end %>
