<%= bootstrap_form_for :group, url: group_index_path ,:html => { :multipart => true  } do |f| %>
  <% if @group.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <%= f.text_field :name, :class => "form-control", help: 'Required' %>
  </div>
 
  <div>
    <%= f.text_area :description, :class => "form-control"%>
  </div>

  <div>
    <%= f.file_field :photo %>
  </div>
  <div>
    <%= f.check_box :private, :label=>"Private ?"%>
    If checked, people will be able to reach the group and see who's in it, but not to see the post and post themselves.
  </div>

  <div>

    <%= f.check_box :secret, :label=>"Secret ?" %>
    If checked, the group will be secret and reachable only for members.
  </div>

  <div>
    <%= f.submit%>
  </div>
<% end %>
