<h2>Posts</h2>
<% if @group.group_posts.empty?%>
	<p>
		No post :( Be the first !
	</p>
<% end %>

<%if !(current_user.nil?)%>
	<% if !(GroupUserRelation.where(user_id: current_user.id, group_id: @group.id).blank?) %>
		<%= render 'post_form' %>
	<% end %>
<% end %>


<% @group.group_posts.order('updated_at DESC').each do |group_post| %>
	<div class="post well well-large">
		<p>
			<%if !group_post.user.nil? %>
				<div class="row">
					<div class="col-md-11">
						<%= image_tag group_post.user.avatar.url(:medium) %>
						<h4><%=link_to group_post.user.all_name, show_profile_path(group_post.user.id) %></h4>
					</div>
					<div class="col-md-1">
						<%= link_to 'Delete', group_group_post_path(@group,group_post),method: :delete, data: { confirm: 'Are you sure?' }%>
					</div>
				</div>
			<% end %>
			<div class="post-body">
				<% if group_post.body.split('^').size == 2 && Service.exists?(id: group_post.body.split('^')[1]) %>
					<%@s_with_link = Service.find(group_post.body.split('^')[1]) %>
					<%= group_post.body.split('^')[0]%>
				    <%= link_to @s_with_link.title, service_path(@s_with_link), :method => :get %>
				<%else%>
				  <%= group_post.body %>
				<% end %>
			</div>
			<br /> Post the <%= group_post.created_at %>
			
		</p>
		<div class="comment-body well">
			<% group_post.group_post_comments.each do |group_post_comment| %>
			<div class='comment'>
				<p>
					<%if !group_post_comment.user.nil? %>
						<strong><%=link_to group_post.user.all_name, show_profile_path(group_post.user.id) %></strong>:
					<% end %>
					<%= group_post_comment.body %>
				</p>
			</div>
			<% end %>	

			<% if !(current_user.nil?)%>
				<% if !(GroupUserRelation.where(user_id: current_user.id, group_id: @group.id).blank?) %>
					<%= form_for(GroupPostComment.new, :url=> group_group_post_group_post_comments_path(@group,group_post),:method=>'post') do |f| %>
						<div class="row">
							<div class="col-md-3">
								<%= f.text_field :body, :class=>"form-control input-sm"  %>
							</div>
							<div class="col-md-1">
								<%= f.submit "Comment", :class=>"btn btn-default btn-sm"%>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
