<!-- TODO : in here will be suggested some groups -->
<!-- List all groups for now-->
<div class="container">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">In here will be suggested some groups to the user</div>

  <!-- Table -->
  <table class="table">
  <thead>
  <tr>
    <th><h6><span class="label label-info">Group Name</span></h6></th>
    <th><h6><span class="label label-info">Description</span></h6></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
  <%unless group.secret == true %>
      <tr>
        <td><h6><%= group.name %></h6></td>
        <td><h6><%= group.description %></h6></td>
        <td><%= link_to 'Show details', group, :class=>"btn btn-info"%></td>
        <%if !current_user.nil? %>
          <td><span id="join"><%= link_to 'Join', {:controller => "group_user_relation", :action => "new", :idGroup => group, :idUser => current_user, :format => "json"}, remote:true, :class=>"btn btn-success "%></span></td>
          <% end %>
      </tr>
  <% end %>
  <% end %>
  </tbody>

  </table>
</div>



<% if current_user.nil?%>
  <%= link_to 'Create group', sign_in_path, :class=>"btn btn-success btn-lg" %>
<% else %>
  <%= link_to 'Create group', new_group_path, :class=>"btn btn-success btn-lg" %>
<% end %>
</div>
