<!-- TODO : in here will be suggested some groups -->
<!-- List all groups for now-->
<div class="container">
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><h6>Groups</h6></div>

  <!-- Table -->
  <table class="table">
  <thead>
  <tr>
    <th><h6><span class="label label-info">Group Name</span></h6></th>
    <th><h6><span class="label label-info">Description</span></h6></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
  <%unless group.secret == true %>
      <tr>
        <td><h6><%= group.name %></h6></td>
        <td><h8><%= group.description %></h8></td>
        <td><%= link_to 'Show details', group, :class=>"btn btn-info"%></td>
        <td><%if !current_user.nil? %>
        		<% @member = false%>
	        	<% current_user.groups.each do |group_user|%>
	          		<%if group.id == group_user.id %>
	          			<%@member = true%>
	          		<%end%>
	          	<%end%>
	          	<% if !@member%>
		          	<span id="join"><%= link_to 'Join', {:controller => "group_user_relation", :action => "new", :idGroup => group, :idUser => current_user, :role => 'basic', :class=>"btn btn-success "}%></span>
	          	<%end%>
          	<% end %></td>
      </tr>
  <% end %>
  <% end %>
  </tbody>

  </table>
</div>



<% if current_user.nil?%>
  <%= link_to 'Create group', sign_in_path, :class=>"btn btn-success btn-lg" %>
<% else %>
  <%= link_to 'Create group', new_group_path, :class=>"btn btn-success btn-lg" %>
<% end %>
</div>
