<h3> My Groups </h3>

<% if @groups.empty? %>
	You have no group :(
<% else %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
	<th></th>
  </tr>
 
<% @groups.each do |group|%>
  <tr>
    <td><%= link_to group.name, group_path(:id => group.id) %></td>
    <td><%= group.description %></td>
	<% if GroupUserRelation.where(:group_id => group.id, :user_id => current_user.id).first.role == 'Admin' %>
    <td><%= link_to 'Delete', group_path(group),method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'Manage', edit_group_path(group)%></td>
	<% end %>
  </tr>
<% end %>
</table>

<%end %>

<% if !current_user.nil?%>
  <br></br>
  <%= link_to 'Create Group',  new_group_path%>
<%end%>

