<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<h2>Posts</h2>
<% @group.group_posts.each do |group_post| %>
  <p>
    <%if !group_post.user.nil? %>
      <strong><%=group_post.user.all_name %>	</strong>
	<% end %>
    <%= group_post.body %>
  </p>
<% end %>


<%= render 'post_form' %>

<p>
<%= link_to 'Delete group', group_path(@group),
                    method: :delete, data: { confirm: 'Are you sure?' } %>

</p>
