<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<% if @group.private == false %>
    <%= render 'post' %>
<% else %>
	<% if !current_user.nil?%>		
		<% if !(GroupUserRelation.where(user_id: current_user.id, group_id: @group.id).blank?)%>
			<%= render 'post' %>
		<% end %>
	<% end %>
<% end %>


<h2>Users</h2>
	<% @group.users.each do |user| %>
		<%= link_to ""+user.firstname+" "+user.name, show_profile_path(user) %><br />
	<% end %>
<p>
<%= link_to 'Delete group', group_path(@group),
                    method: :delete, data: { confirm: 'Are you sure?' } %>

</p>

