<div class="full-width-header"><h1><%= @group.name %></h1></div>
<div class="container">
  
<p class="lead">

  <%= @group.description %>
</p>

<% if @group.private == false %>
    <%= render 'post' %>
<% else %>
	<% if !current_user.nil?%>		
		<% if !(GroupUserRelation.where(user_id: current_user.id, group_id: @group.id).blank?)%>
			<%= render 'post' %>
		<% end %>
	<% end %>
<% end %>

<p>
<% if ! current_user.nil?%>
	<h2>Users</h2>
		<% @group.users.each do |user| %>
			<%= link_to ""+user.firstname+" "+user.name, show_profile_path(user) %><br />
		<% end %>
	<p>
	<% @member = false %>		
	<% current_user.groups.each do |group| %>
		<br />
		<% if group.id == @group.id %>
			<% @member = true %>
			<span><%= link_to 'Leave Group', group_delete_user_path(@group,current_user), :method => :post, data: { confirm: 'Are you sure?' } , :class=>"btn btn-default"%></span>		
			<% if !(GroupUserRelation.where(user_id: current_user.id, group_id: @group.id).blank?)%>
   				<span><%= link_to 'Delete group', group_path(@group),method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></span>
			<% end %>
		<%end%>
	<%end%>
	
	<% if ! @member %>
		<br />
		<span id="join"><%= link_to 'Join', {:controller => "group_user_relation", :action => "new", :idGroup => @group, :idUser => current_user, :role => 'basic'}, :class => "btn btn-primary"%></span>
	<%end%>
<%end%>
</p>

</div>
