<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Firstname</th>
      <th>Birthdate</th>
      <th>Email</th>
      <th>Karma</th>
      <th>Id ok</th>
      <th>Presentation</th>
      <th>Inscription ok</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.firstname %></td>
        <td><%= user.birthdate %></td>
        <td><%= user.email %></td>
        <td><%= user.karma %></td>
        <td><%= user.id_ok %></td>
        <td><%= user.presentation %></td>
        <td><%= user.inscription_ok %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
