<h3><%=@user.firstname%> <%= @user.name %></h3>

<h4>His coordinate</h4>
<%= render 'coordinate', :user => @user %>

<h4>His Services</h4>
<%= render 'my_services', :services => @services %>

<h4>His Groups</h4>
Here will be the groups <br />

<h4>The services I follow</h4>
<%= render 'services/following_services', :following => @following %>
