<%	@tag = nil
	if @user == current_user
		@tag = 'My'
	else
		@tag = 'His'
	end%>

<h3><%=@user.firstname%> <%= @user.name %></h3>

<%= image_tag @user.avatar.url(:thumb) %>

<h4><%= @tag%> coordinate</h4>
<%= render 'coordinate', :user => @user %>

<h4><%= @tag%> Services</h4>
<%= render 'my_services', :services => @services %>

<h4><%= @tag%> Groups</h4>
<%= render 'my_groups', :user => @user %>

<%	@follow = nil
	if @user == current_user
		@follow = 'I follow'
	else
		@follow = 'he follows'
	end%>
<h4>The services <%= @follow%></h4>
<%= render 'services/following_services', :following => @following %>
