
<%	@tag = nil
	if @user == current_user
		@tag = 'My'
	else
		@tag = 'His'
	end%>
<h3><%=@user.firstname%> <%= @user.name %></h3>

<%= image_tag @user.avatar.url(:thumb) %>

<% if ! current_user.nil? %>
	<h4><%= @tag%> coordinate</h4>
	<%= render 'coordinate', :user => @user %>
	
	<h4><%= @tag%> Services</h4>
	<%= render 'my_services', :services => @services %>
	
	<h4><%= @tag%> Groups</h4>
	<%= render 'my_groups', :user => @user %>
	
	<%	@follow = nil
		if @user == current_user
			@follow = 'I follow'
		else
			@follow = 'he follows'
		end%>
	<h4>The services <%= @follow%></h4>
	<%= render 'services/following_services', :following => @following %>
	
	<h4><%= @tag%> Badges</h4>
	<%= render 'badge/own_badges', :badges=>@user.badges %>

<h4><%= @tag%> Feedback</h4>
<% @transactions = Transaction.where(user_id: @user.id).limit(5)
	@transactions.each do |transaction|

	@feedbacker = User.find(transaction.poster_id)
	@serv = Service.find(transaction.service_id) %>
  <p>
    For service <%= link_to @serv.title, service_path(@serv)%>
    received <%= transaction.feedback_evaluation %> 
    with comment <%= transaction.feedback_comments%>
	by <%= link_to @feedbacker.all_name, show_profile_path(@feedbacker)  %>
 </P>
<%end%>
<%end%>
