<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Karma:</strong>
  <%= @user.karma %>
</p>

<p>
  <strong>Id ok:</strong>
  <%= @user.id_ok %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @user.presentation %>
</p>

<p>
  <strong>Inscription ok:</strong>
  <%= @user.inscription_ok %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
