<%=bootstrap_form_for(@service,:html => { :multipart => true  }) do |f| %>

  <%=f.radio_buttons :is_demand, { "Demand" => true, "Offer" => false }, :label => "what do you want to propose ?"%>

    <%= f.text_field :title %>
    <%= f.collection_select :category_id, get_all_root_categories, :id, :title %>
    <%= f.text_area :description %>
    <%= f.file_field :photo %>
    <%= f.datetime_select :date_start %>
    <%= f.datetime_select :date_end %>
    <div style="display:none"><%= f.text_field :creator_id,  content:@service.creator_id %></div>
    <% if type=="new"%>
      <%= f.submit "Create service",:class =>"btn btn-primary"  %>
    <% else %>
      <%= f.submit "Edit service",:class =>"btn btn-primary"  %>
    <%end%>
<% end %>
