<%=bootstrap_form_for(@service,:html => { :multipart => true  }) do |f| %>
    <span class="label label-primary">What do you want to offer</span>
    <%=f.radio_buttons :is_demand, { "Demand" => true, "Offer" => false }, :label => ""%>
    <%= f.text_field :title, :class => "form-control" %>
    <div id="categories">
    <%= f.collection_select :category_id, get_all_root_categories, :id, :title %>
    </div>
    <%= f.text_area :description, :class => "form-control" %>
    <%= f.file_field :photo %>
    <% if @service.nil? or @service.date_start.nil? or @service.date_start.to_s.empty? %>
      <%= f.text_field :date_start, :label => "Date Start", :value => 1.days.from_now.strftime('%d/%m/%Y'), :class => "datepicker" %>
      <%= f.text_field :date_end, :label => "Date End", :value => 10.days.from_now.strftime('%d/%m/%Y'), :class => "datepicker" %>
    <% else %>
      <%= f.text_field :date_start, :label => "Date Start", :value => @service.date_start.strftime('%d/%m/%Y'), :class => "datepicker" %>
      <%= f.text_field :date_end, :label => "Date End", :value => @service.date_end.strftime('%d/%m/%Y'), :class => "datepicker" %>
    <% end %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          startView: 1,
          autoclose: true,
          todayHighlight: true
        });
      })
    </script>
    <% if current_user.addresses.empty? %>
      <div id="address-title">
        Address: no address yet<br /><br />
      </div>
      <div id="address">
        <%= link_to 'New address', new_address_path, :class => "btn btn-default"%>
      </div>
    <% else %>
      <%= f.collection_select :address_id, current_user.addresses, :id, :street%>
    <% end %>
    <div style="display:none"><%= f.text_field :creator_id,  content:@service.creator_id %></div>
    <br />
    <% if type=="new"%>
      <%= f.submit "Create service",:class =>"btn btn-primary"  %>
    <% else %>
      <%= f.submit "Edit service",:class =>"btn btn-primary"  %>
    <%end%>
<% end %>
