<% @like_services = Service.includes(:category).references(:category).where(:quick_match=>false).where('(services.title LIKE (:titles) or services.description LIKE (:titles) or categories.title LIKE (:titles) or categories.text LIKE (:titles)) and services.id NOT IN (:id)', :titles => "%" + @service.title + "%", :id => @service.id) %>

<% if @like_services.nil? %>
  <div class="container">
    <h4><span class="label label-default">Other services that might interest you:</span></h4>

    <% i = 0 %>

    <div class="row">
      <div class="col-md-4">
        <% if !@like_services[i].nil? %>
          <div class="well well-large service">
          <h4> <%= @like_services[i].title %> </h4>
          <%= image_tag @like_services[i].photo.url(:thumb) %>
          <p>
            <h7> <%= @like_services[i].description %> </h7>
          </p>
          <%= button_to 'Show', service_path(@like_services[0]), :class=>"btn btn-info", :method => :get  %>
          </div>
        <%end%>
        <% i = i + 1 %>
      </div>
      <div class="col-md-4">
        <% if !@like_services[i].nil? %>
          <div class="well well-large service">
            <h4> <%= @like_services[i].title %> </h4>
            <%= image_tag @like_services[i].photo.url(:thumb) %>
            <p>
              <h7> <%= @like_services[i].description %> </h7>
            </p>
            <%= button_to 'Show', service_path(@like_services[i]), :class=>"btn btn-info", :method => :get  %>
          </div>
        <%end%>
        <% i = i + 1 %>
      </div>
      <div class="col-md-4">
        <% if !@like_services[i].nil? %>
          <div class="well well-large service">
            <h4> <%= @like_services[i].title %> </h4>
            <%= image_tag @like_services[i].photo.url(:thumb) %>
            <p>
              <h7> <%= @like_services[i].description %> </h7>
            </p>
            <%= button_to 'Show', service_path(@like_services[i]), :class=>"btn btn-info", :method => :get  %>
          </div>
        <%end%>
      </div>
  </div>
<% end %>
