<% @service=service%>

<p>
  <strong>Title:</strong>
  <% if @service.matching_service.nil? %>
        <span class="label label-primary">
  <% elsif @service.matching_service.creator_id==current_user.id || @service.creator_id==current_user.id%>
        <span class="label label-success">
  <% else %>
        <span class="label label-default">
  <%end%>
  <%= @service.title %>
        </span>
</p>

<p>
  <strong>Created by:</strong>
  <%  #TODO add a link to the user profile ? %>
  <%if !@service.user.nil? %>
    <%=@service.user.all_name %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @service.date_start.to_date().to_formatted_s(:rfc82) %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @service.date_end.to_date().to_formatted_s(:rfc82) %>
</p>


<% if !current_user.nil?&&@service.creator_id==current_user.id %>
<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Destroy', service_path(@service), :method=>'delete' %> |
<% elsif !current_user.nil?&&@service.matching_service.nil?%>
<%= link_to 'Accept', accept_service_path(@service) %> |
<%end%>
<%= link_to 'Back', services_path %>
