<% @service=service%>
<div class="container">
  <div class="well well-large service">
    <a class="pull-right" href="#">
      <%= image_tag service.photo.url(:medium) %>
    </a>
    <h3><%= service.title %></h3>
    <strong>Created by:</strong>
    <%if !@service.user.nil? %>
   	 <%= link_to @service.user.all_name, show_profile_path(@service.user) %>
    <% end %>
    <p class="service-desc"><%= service.description %></p>
    <p class="date-service"><%= service.date_start.to_date().to_formatted_s(:rfc822) %> to <%= service.date_end.to_date().to_formatted_s(:rfc822) %>
      <%if !service.address.nil?%> <p class="service-desc"><%= render 'address/address', :address=>service.address %></p><% end %>
    </p>

    <%= render 'services/followers', :followers_list=>@followers_list%>
    
    <br />
    
    <%= render 'services/share', :service => service %>

    <br />

    <div class="service-action">

      <% if !current_user.nil?&&service.matching_service.nil? && service.creator_id!=current_user.id%><%= button_to 'Accept', accept_service_path(service), :class=>"btn btn-success", :method => :get %><%end%>
      <% if !current_user.nil?&&service.creator_id==current_user.id %><%= button_to 'Edit', edit_service_path(service), :class=>"btn btn-default", :method => :get %><%end%>
      <% if !current_user.nil?&&service.creator_id==current_user.id %><%= button_to 'Destroy', service, method: :delete, :class=>"btn btn-danger"%><%end%>
      <% if user_signed_in?%>
      <% @followers = Follower.where("service_id = :service_id AND user_id = :user_id", :service_id => service.id, :user_id => current_user.id)%>
      <% @service = service %>
      <%= render 'services/follow', :service=>@service, :followers => @followers %>
      <%end%>
    </div>

    <%= button_to 'Back', '/search', :class=>"btn btn-default"  %>

  </p>
  <% if !current_user.nil?&&!@service.matching_service.nil?&&(@service.creator_id==current_user.id||@service.matching_service.creator_id=current_user.id)&&(@service.transaction.nil?||@service.matching_service.transaction.nil?)&&(@service.creator_id==current_user.id&&!User.joins(:accept_services).where(accept_services: {service_id: service.id, is_chosen_customer: true}).blank?) %>

  <% if !(!@service.matching_service.nil?&&!@service.matching_service.transaction.nil?)&&(@service.matching_service.quick_match&&@service.transaction.nil?) %>
  <div class="alert alert-notice">
    How was your experience ?
    <%= link_to 'Give a feedback !', add_transaction_path(@service)%></div>
    <br />
    <%else%>
    Your feedback :
    <%=  render 'services/show_feedback', :transaction=>@service.matching_service.transaction%>
    <%end%>
    <%end%>
    <p>

    </div>

	<% if !current_user.nil?%>
	<% @my_group =  @groups = Group.joins(:group_user_relations).where(group_user_relations: {user_id: current_user.id})
	if !@my_group.blank?%>
	  <ul class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Share
        </a>
  	    <ul class="dropdown-menu" role="menu">
          <% @my_group.each do |group| %>
            <li><%= link_to group.name, share_group_service_path(group,service), :role=>"menuitem", :method => :post,  
													data: { confirm: 'Share this service to this group ?' }%></li>
          <%end%>

  	    </ul>
	  </ul>
	<%end%>
	<%end%>



</div>
