<% @service=service%>
<%= image_tag service.photo.url(:thumb) %>
<p>
  <strong>Title:</strong>
  <% if @service.matching_service.nil? %>
        <span class="label label-primary">
  <% elsif @service.matching_service.creator_id==current_user.id || @service.creator_id==current_user.id%>
        <span class="label label-success">
  <% else %>
        <span class="label label-default">
  <%end%>
  <%= @service.title %>
        </span>
</p>
<% if !current_user.nil?&&!@service.matching_service.nil?&&(@service.creator_id==current_user.id||@service.matching_service.creator_id=current_user.id)&&(@service.transaction.nil?||@service.matching_service.transaction.nil?) %>
  <% if !(!@service.matching_service.nil?&&!@service.matching_service.transaction.nil?)&&(@service.matching_service.quick_match&&@service.transaction.nil?) %>
    <div class="alert alert-notice">
      How was your experience ?
    <%= link_to 'Give a feedback !', add_transaction_path(@service)%></div>
    <br />
  <%else%>
    Your feedback :
    <%=  render 'services/show_feedback', :transaction=>@service.matching_service.transaction%>
  <%end%>
<%end%>
<p>
  <strong>Created by:</strong>
  <%if !@service.user.nil? %>
    <%= link_to @service.user.all_name, show_profile_path(@service.user) %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @service.date_start.to_date().to_formatted_s(:rfc822) %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @service.date_end.to_date().to_formatted_s(:rfc822) %>
</p>



<% if !current_user.nil?&&@service.creator_id==current_user.id %>
	<%= link_to 'Edit', edit_service_path(@service) %> |
	<%= link_to 'Destroy', service_path(@service), :method=>'delete' %> |
<% elsif !current_user.nil?&&@service.matching_service.nil?%>
	<%= link_to 'Accept', accept_service_path(@service) %> |
<%end%>
<% if user_signed_in?%>
    <% @followers = Follower.where("service_id = :service_id AND user_id = :user_id", :service_id => @service.id, :user_id => current_user.id)%>
	<%= render 'services/follow', :service=>@service, :followers =>@followers%>
<%end%>
