<% @service=service%>
<div class="container">
  <div class="well well-large service">

    <a class="pull-right" href="#">
      <%= image_tag service.photo.url(:medium) %>
    </a>
    <h3><%= service.title %></h3>
    <strong>Created by:</strong>
    <%  #TODO add a link to the user profile ? %>
    <%if !@service.user.nil? %>
    <%= @service.user.all_name %>
    <% end %>

    <p></p>

    <p class="service-desc"><%= service.description %></p>
    <p class="date-service"><%= service.date_start.to_date().to_formatted_s(:rfc822) %> to <%= service.date_end.to_date().to_formatted_s(:rfc822) %>
      <%if !service.address.nil?%> <p class="service-desc"><%= service.address.country %></p><% end %>
    </p>

    <%= render 'followers', :followers_list=>@followers_list%>

    <br /><br />

    <a class="pull-right" href="#">
      <div class="service-action">

        <% if !current_user.nil?&&service.matching_service.nil? && service.creator_id!=current_user.id%><%= button_to 'Accept', accept_service_path(service), :class=>"btn btn-success", :method => :get %><%end%>
        <% if !current_user.nil?&&service.creator_id==current_user.id %><%= button_to 'Edit', edit_service_path(service), :class=>"btn btn-warning", :method => :get %><%end%>
        <% if !current_user.nil?&&service.creator_id==current_user.id %><%= button_to 'Destroy', service, method: :delete, :class=>"btn btn-danger"%><%end%>
        <% if user_signed_in?%>
        <% @followers = Follower.where("service_id = :service_id AND user_id = :user_id", :service_id => service.id, :user_id => current_user.id)%>
        <% @service = service %>
        <%= render 'services/follow', :service=>@service, :followers => @followers %>
        <%end%>
      </div>
    </a>

    <%= button_to 'Back', '/search', :class=>"btn btn-back"  %>

  </p>
  <% if !current_user.nil?&&!@service.matching_service.nil?&&(@service.creator_id==current_user.id||@service.matching_service.creator_id=current_user.id)&&(@service.transaction.nil?||@service.matching_service.transaction.nil?) %>
  <% if !(!@service.matching_service.nil?&&!@service.matching_service.transaction.nil?)&&(@service.matching_service.quick_match&&@service.transaction.nil?) %>
  <div class="alert alert-notice">
    How was your experience ?
    <%= link_to 'Give a feedback !', add_transaction_path(@service)%></div>
    <br />
    <%else%>
    Your feedback :
    <%=  render 'show_feedback', :transaction=>@service.matching_service.transaction%>
  <%end%>
<%end%>
<p>

</div>


<% @like_services = Service.all.where('id NOT IN (:id)', :id => @service.id) %>
where(:quick_match=>false).where('title LIKE (:title) or description LIKE (:title) and id NOT IN (:id)', :title => @service.title, :id => @service.id)


<h4>Other services that might interest you :</h4>

<div class="container">
<div id="myCarousel" class="carousel slide">
          

      <div class="carousel-inner">
            <div class="item active">
              <img src="images/slide-01.jpg" alt="">
                <div class="carousel-caption">
                               <h1> <%= @like_services.first.title %> </h1>
                  <p class="h7"><%= @like_services.first.description %> </p>
                  <%= button_to 'Show', service, :class=>"btn btn-info", :method => :get  %>
            
                </div>
            </div>  

            <% @like_services.each do |s| %>

            <div class="item">
              <img src="images/slide-01.jpg" alt="">
                <div class="carousel-caption">
                               <h1> <%= s.title %> </h1>
                  <p class="h7"><%= s.description %> </p>
                  <%= button_to 'Show', service, :class=>"btn btn-info", :method => :get  %>
            
                </div>
              </div>
            </div> 
            <% end %>    
      </div>
                  
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->
  </div> 
