<h3>Register new managed user for "<%=@organisation.name%>"</h3>

<%= bootstrap_form_for(@user, :url => new_managed_created_path(@user)) do |f| %>

    <%= f.text_field :name , :autofocus => true, :class=>"form-control" %>
    <%= f.text_field :firstname, :class=>"form-control" %>
    <%= f.text_field :birthdate, :id => "user_birthdate", :value => '01/01/' + (Date.today.cwyear - 30).to_s, :class => "datepicker" %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker({format: 'dd/mm/yyyy'});
      })
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
        $('[data-behaviour~=datepicker]').datepicker();
        })
    </script>
<div style="display:none"><%= f.text_field :managed_org_id,  content:@user.managed_org_id %></div>
  <div><%= f.submit "Register" %></div>
<% end %>

