<div class="container">

  <h3><span class="label label-default">Listing organisations</span></h3>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><h6>Organisations</h6></div>

  <!-- Table -->
  <table class="table">
  <thead>
  <tr>
    <th><h6><span class="label label-info">Organisation Name</span></h6></th>
    <th><h6><span class="label label-info">People involved</span></h6></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= organisation.coworkers.length+organisation.managed_user.length%></td>
        <td><%= link_to 'Show', mainmenu_organisations_path(organisation), :class=>"btn btn-info", :title=>'Show the details of the organisation' %></td>
        <td>

          <% if !current_user.nil? && current_user.organisations.where(:id => organisation.id).empty? %>
            <%= link_to 'Join', join_action_path(organisation.id), :class=>"btn btn-success", :title=>'Be part of this organisation' %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

  </table>
</div>




<%= link_to 'New Organisation', new_organisation_path, :class=>"btn btn-primary"  %>
</div>