<div class="container"><h1>Join organisation</h1>

<div class="row">
      <div class="span9">

        <% if @organisations.size ==0 %>
          No organisations registered yet
        <% else %>
        <% count = 0 %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Creator</th>
              <th>Coworkers involved</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>

            <% @organisations.all.each do |organisation| %>
                <% if organisation.coworkers.where(:user_id => current_user.id).empty? and organisation.validated %>
                   <% count=count+1 %>
                   <tr>
                    <td><%= organisation.name %></td>
                    <td><%= organisation.creator.all_name %></td>
                    <td><%= organisation.coworkers.length %></td>
                    <td><%= link_to 'join', join_action_path(organisation.id), :class=>"btn btn-success" %></td>
                   </tr>
               <%end%>
            <% end %>

          </tbody>
          
        </table>
        <% if count == 0%>
             You're involved in all organisations!
        <%end%>
        <% end %>
        <br>
      </div>
<%= link_to 'Back', organisations_path, :class=>"btn btn-default" %>
</div>
