<div class="container"><%=@organisations.size%>
<p>
    <% @organisations.each do |organisation|%>
          <strong>Name:</strong>
          <%= organisation.name %>
          <%= link_to 'Edit', edit_organisation_path(organisation), :class=>"btn btn-warning" %> |
          <%= link_to 'Add address', new_address_org_path(organisation), :class=>"btn btn-primary" %> |

    <%end %>
</p>


<%= link_to 'Back', organisations_path %>
</div>