

<%if current_user.nil? %>
    <%@best_karma = User.order(:karma).last%>

     

    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <% if not @best_karma.nil? %>
          <div class="featurette">
            <h2 class="featurette-heading">Our Best User <span class="muted"> </span></h2>
            <p class="lead">Regarding his karma, <%=@best_karma.firstname+' '+@best_karma.name%> is the best user of our website. Congratulations !</p>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        <div class="featurette">
          <img class="featurette-image pull-left" src="">
          <h2 class="featurette-heading">The Solidare-it Philosophy</h2>
          <p class="lead">Solidare-it website allows you to help people in need or be helped if you need anything. It's simple ! 
          Just sign up. After that, you will be able to post a demand or an offer. Then, just wait until another user answer. 
          At this time, you have to accept one of the user that accepted your service. And, that's all ! Wonderful, isn't it ? </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="featurette">
          <img class="featurette-image pull-right" src="">
          <h2 class="featurette-heading">What other users say</h2>
          <% if !Transaction.where("feedback_evaluation IN (:eval)", :eval => 3).first.nil? %>
            <p class="lead"><%= Transaction.where("feedback_evaluation IN (:eval)", :eval => 3).first.feedback_comments %></p>
          <% else %>
            <p class="lead">Perfect transaction. You really helps me with these clothes. Thank you !</p>
          <% end %>
        </div>
      </div>

      <div class="col-md-1">
      </div>

    </div>


<%else%>

<div class="container">

  
    <div id="map"></div>
  


<% if current_user.main_address.nil? %>
  <% @closest_services = Service.where(:quick_match=>false).where("services.address_id >0") %>
<% else %>
  <% @closest_services = Service.where(:quick_match=>false).joins(:address).where("services.address_id >0").sort_by{|r| r.distance(current_user.main_address.latitude,current_user.main_address.longitude)}.reverse %>
<% end %>

    <% serv_count = Service.where(:quick_match => false).count
        @hash = Gmaps4rails.build_markers(@closest_services) do |closest_service, marker|
          marker.lat closest_service.address.latitude
          marker.lng closest_service.address.longitude
          marker.infowindow render 'services/show', :service=>closest_service
        end
      
      %>

      <% if serv_count > 0 %>
      <% serv = Service.where(:quick_match => false).offset(Random.rand(serv_count)).first %>
      <%= button_to 'Random service !', service_path(serv), :class=>"btn btn-primary", :method => :get  %>
    <% end %>

    
    <script>
      $(document).ready(function(){
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers=handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
      });
            
           
  </script>
 
    

    <h4><span class="label label-default">Services close to you :</span></h4>

    <% i = 0 %>

    <div class="row">
      <div class="col-md-4">
        <% if !@closest_services[i].nil? %>
          <div class="well well-large service">
            <h4> <%= @closest_services[i].title %> </h4>
            <%= image_tag @closest_services[i].photo.url(:thumb) %>
            <p>
              <h7> <%= @closest_services[i].description %> </h7>
            </p>
            <%= button_to 'Show', service_path(@closest_services[0]), :class=>"btn btn-info", :method => :get  %>
          </div>
        <%end%>
        <% i = i + 1 %>
      </div>
      <div class="col-md-4">
        <% if !@closest_services[i].nil? %>
          <div class="well well-large service">
            <h4> <%= @closest_services[i].title %> </h4>
            <%= image_tag @closest_services[i].photo.url(:thumb) %>
            <p>
              <h7> <%= @closest_services[i].description %> </h7>
            </p>
            <%= button_to 'Show', service_path(@closest_services[i]), :class=>"btn btn-info", :method => :get  %>
          </div>
        <%end%>
        <% i = i + 1 %>
      </div>
      <div class="col-md-4">
        <% if !@closest_services[i].nil? %>
          <div class="well well-large service">
            <h4> <%= @closest_services[i].title %> </h4>
            <%= image_tag @closest_services[i].photo.url(:thumb) %>
            <p>
              <h7> <%= @closest_services[i].description %> </h7>
            </p>
            <%= button_to 'Show', service_path(@closest_services[i]), :class=>"btn btn-info", :method => :get  %>
          </div>
        <%end%>
      </div>
    </div>

<%end%>
</div>
