

<%if current_user.nil? %>
    <%@best_karma = User.order(:karma).last%>

     <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-4">
        <% if not @best_karma.nil? %>
          <div class="featurette">
            <span class="featurette-image pull-right"><span class="glyphicon glyphicon-star" style="font-size:75px;"></span> </span>
            <h2 class="featurette-heading">Our Best User <span class="muted"> </span></h2>
            <p class="lead">Regarding his karma, <%=@best_karma.firstname+' '+@best_karma.name%> is the best user of our website. Congratulations !</p>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        <div class="featurette">
          <img class="featurette-image pull-left" src="">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="featurette">
          <img class="featurette-image pull-right" src="">
          <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

    </div>


<%else%>

<div class="container">

<% if current_user.main_address.nil? %>
  <% @closest_services = Service.where(:quick_match=>false) %>
<% else %>
  <% @closest_services = Service.where(:quick_match=>false).joins(:address).sort_by{|r| r.distance(current_user.main_address.latitude,current_user.main_address.longitude)}.reverse %>
<% end %>

    <% @all = Service.where(:quick_match=>false) %>
    <% random = Random.rand(@all.size) %>
    <%= button_to 'Random service !', service_path(@all[random]), :class=>"btn btn-primary", :method => :get  %>

    <h4><span class="label label-default">Services close to you :</span></h4>

    <% i = 0 %>

    <div class="row">
      <div class="col-md-4">
        <div class="well well-large service">
          <% if !@closest_services[i].nil? %>
          <h4> <%= @closest_services[i].title %> </h4>
          <%= image_tag @closest_services[i].photo.url(:thumb) %>
          <p>
            <h7> <%= @closest_services[i].description %> </h7>
          </p>
          <%= button_to 'Show', service_path(@closest_services[0]), :class=>"btn btn-info", :method => :get  %>
          <%end%>
        </div>
        <% i = i + 1 %>
      </div>
      <div class="col-md-4">
        <div class="well well-large service">
          <% if !@closest_services[i].nil? %>
          <h4> <%= @closest_services[i].title %> </h4>
          <%= image_tag @closest_services[i].photo.url(:thumb) %>
          <p>
            <h7> <%= @closest_services[i].description %> </h7>
          </p>
          <%= button_to 'Show', service_path(@closest_services[i]), :class=>"btn btn-info", :method => :get  %>
          <%end%>
        </div>
        <% i = i + 1 %>
      </div>
      <div class="col-md-4">
        <div class="well well-large service">
          <% if !@closest_services[i].nil? %>
          <h4> <%= @closest_services[i].title %> </h4>
          <%= image_tag @closest_services[i].photo.url(:thumb) %>
          <p>
            <h7> <%= @closest_services[i].description %> </h7>
          </p>
          <%= button_to 'Show', service_path(@closest_services[i]), :class=>"btn btn-info", :method => :get  %>
          <%end%>
        </div>
      </div>
    </div>

<%end%>
</div>