<!DOCTYPE html>
<html>
<head>
  <title>SolidareItG6</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <script>
      $(document).ready(function(){
          $("#show_option").click(function(){
              $("#more").toggle();
          });
          $(':checkbox').checkbox();
      });
  </script>
  <style id="holderjs-style" type="text/css">
.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}
</style>
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=154855758040726";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div id="header" class="jumbotron">
  <% location= request.env['PATH_INFO'] %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
          <!--HOME button-->
          <% if location=='/' %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
          <a href="<%= root_path  %>">Home</a></li>

          <!--search button-->
          <% if location==search_path %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
          <a href="<%= services_path  %>">Services</a></li>

          <!--Admin button-->
          <% if !current_user.nil? && current_user.superadmin %>
              <li><a href="/admin">Admin</a></li>
          <% end %>

          <!--Organisations button-->
          <% if !current_user.nil? && current_user.organisations.length!=0 %>
              <% if current_user.organisations.length == 1%>
                   <li><a href="<%=mainmenu_organisations_path(current_user.organisations.first.id)%>"> Organisations </a></li>
              <% else %>
                   <li><a href="<%=organisation_choose_path%>"> Organisations </a></li>
              <% end %>
          <%end%>

          <!--Groups button-->
          <% if location==group_index_path %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
          <a href="<%= group_index_path  %>">Groups</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <%= render 'layouts/usermenu' %>
        </ul>
      </div>
    </nav>

      <% unless location == '/'%>
      <div class="container">
        <div style="text-align: center;"><img src="/images/logo.png" alt ="logo" align="center"></img></div>
              <h1>Solidare-it</h1>
              <p>Un site solidaire!</p>

              <%= render 'search/form' %>
            </div>
        </div>
      <% else %>
      <div>
        <div class="carousel slide" id="myCarousel">
      <div class="carousel-inner">
        <div class="item">
          <img alt="" src="/images/slide-01.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to Solidare-It website</h1>
              <p class="lead">Share services easily with people in the need </p>
              <%= link_to 'Sign up now',create_account_path , :class=>"btn btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="" src="/images/slide-02.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a href="#" class="btn btn-large btn-primary">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item active">
          <img alt="" src="/images/slide-03.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a href="#" class="btn btn-large btn-primary">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
      <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
    </div>        

      <% end %>
    <div class="container">



  <% if notice.present? %>
      <div class="alert alert-success"><%= content_tag :p, notice, :class => 'notice'%></div>
  <% end %>
  <% if alert.present? %>
      <div class="alert alert-error"><%= content_tag :p, alert,  :class => 'alert'%></div>
  <% end %>


  <%= yield %>

</div>
</div>
<div>
<footer>
   
    <div class="fb-follow" data-href="https://www.facebook.com/pages/Solidare-IT/469548126438387" data-width="350" data-height="20" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
    <a href="https://twitter.com/SolidareIT" class="twitter-follow-button" data-show-count="false" data-width="10" data-lang="en">Follow @SolidareIT</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<g:plusone></g:plusone>
<iframe src="http://ghbtns.com/github-btn.html?user=matttbe&repo=SIT&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="200" height="20"></iframe>
  <p>Built by the 8 most awesome Computer Sciences students at Université Catholique de Louvain</p>
  </footer>
</div>
</body>
</html>
