<!DOCTYPE html>
<html>
<head>
  <title>SolidareItG6</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
      $(document).ready(function(){
          $("#show_option").click(function(){
              $("#more").toggle();
          });
      });
  </script>
</head>
<body>
  <div id="header" class="jumbotron">
  <% location= request.env['PATH_INFO'] %>
    <nav class="navbar" role="navigation">
      <div class="navbar-inner">

        <ul class="nav">
          <% if location=='/' %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
          <a href="<%= root_path  %>">Home</a></li>

          <% if location==search_path %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
          <a href="<%= services_path  %>">Services</a></li>
          <% if !current_user.nil? && current_user.superadmin %>
              <li><a href="/admin">Admin</a></li>
          <% end %>

          <% if location==group_index_path %>
                                                          <li class="active">
                                                      <% else %>
                                                          <li>
                                                      <% end %>
                                                      <a href="<%= group_index_path  %>">Groups</a></li>


        </ul>
        <ul class="nav pull-right">
          <%= render 'layouts/usermenu' %>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div style="text-align: center;"><img src="/images/logo.png" alt ="logo" align="center"></img></div>
    <h1>Solidare-it</h1>
    <p>Un site solidaire!</p>

    <%= render 'search/form' %>
  </div>
</div>
<div class="container">



  <% if notice.present? %>
      <div class="alert alert-success"><%= content_tag :p, notice, :class => 'notice'%></div>
  <% end %>
  <% if alert.present? %>
      <div class="alert alert-error"><%= content_tag :p, alert,  :class => 'alert'%></div>
  <% end %>


  <%= yield %>
</div>

</body>
</html>
